



.menu-d{
	overflow:hidden !important;

}

//Bulma Overrides
.navbar{
	padding:15px;
	height:130px;
	@media screen and (max-width:1088px){
		height:90px;
	}

}
.nav-title{
	font-family: 'Oswald', sans-serif;
	font-size:1.75em;
	margin-left:0px;
}
.navbar-burger{
	margin-left:initial;
}
.navbar-menu{
	p{
		text-align: right;

	}
}
.navbar-item{
	.hours{
		display:flex;
		font-weight:200;
		font-size:0.72em;
		line-height:1em;
		text-align: left;
		.days{
			text-align:left;
			margin-right:5px;
		}
	}
}
.nav-title-cont{
	
}

.hero-menu{
	position:absolute;
	top:130px;
	width:100%;
	left:0;
	height:80px;
	background-color:rgba(255,255,255,0.8);
	width:100%;
	display:flex;
	flex-flow:row;
	justify-content:space-between;
	transition:0.7s;
	a{
		font-weight:400;
		color:#4a4a4a;
		flex-grow:1;
		text-align: center;
		display:flex;
		flex-flow:column;
		align-items:center;
		justify-content: center;
		transition: 0.25s;
		cursor: pointer;
		&.hero-active{
			background:white;
		}
		&:hover{
			background: white;
		}
		&.hero-active{
			background-color: #FFF;
		}		
	}
	.hero-menu-item{
		flex-grow:1;
		text-align: center;
		display:flex;
		flex-flow:column;
		align-items:center;
		justify-content: center;
		transition: 0.25s;
		cursor: pointer;
		&.hero-active{
			background:white;
		}
		&:hover{
			background: white;
		}
		@media screen and (max-width:1224px){
			font-size:0.8em;
			width:100%;
		}
	}
	@media screen and (max-width:1088px){
		position:absolute;
		z-index:500;
		top:78px;
		flex-flow:column;
		height:initial;
		background-color:#fff;
		height:calc(100vh - 78px);
		&.hero-inactive{
			display: none;
			height:0;
			.hero-menu-item{
				height:0;
			}
		}
		.hero-menu-item{
			transition: 0.7s;
			min-height:10vh;
			&:hover, &:active{
				background-color:rgba(152, 152, 152, 0.5);
			}
		}
	}
	
}





//Hero.js
.hero-bg{
	background: url('./img/tryingglasses.jpg') center center;
	background-size: cover;
	background-color: hsla(0,0%,100%,0.3);
    background-blend-mode: overlay;
	background-repeat: no-repeat;
	height:800px;
	@media screen and (max-width:768px){
		height:80vh;
	}
	.hero-bottom{
		background: rgb(18,66,131);
		background: linear-gradient(0deg, rgba(18,66,131,1) 0%, rgba(108,171,226,0.5662640056022409) 100%);
		margin-top:auto;
		width:100%;
		height:100px;
		color:white;
		display:flex;
		padding:20px;
		@media screen and (max-width: 1088px){
			height:200px !important; 
		}
		.hero-left{
			width:60%;
			display:flex;
			flex-flow:column;
			align-items:center;
			justify-content: space-around;
			p{
				font-weight:200;
				font-size:1.5em;
				line-height:1em;
				
			}
			@media screen and (max-width: 850px){
				display:none;
			}
		}
		.hero-right{
			width:40%;
			display:flex;
			flex-flow:column;
			align-items:center;
			justify-content: space-around;
			.hero-address{
				display:none;
			}
			@media screen and (max-width: 850px){
				width:100%;
				.hero-address{
					display:block;
					text-align: center;
				}
			}
		}
	}
}






//EyeActions.js
.eye-actions{
	background-color:#F2F0F0;
	display:flex;
	align-items: center;
	cursor: pointer;
	padding:0;
	@media screen and (max-width:1000px) {
		flex-flow:column;
		align-items:center;
		.eye-action{
			flex-grow:initial;
			width:100%;

		}
	}
	.eye-action{
		padding:20px;
		height:100%;
		flex-grow:1;
		flex-shrink:1;
		flex-basis:auto;
		display:flex;
		flex-flow:column;
		text-align:center;
		align-items:center;
		margin-bottom:auto;
		max-height:300px;
		transition:0.4s;
			&:hover{
				background-color:rgba(198, 197, 197, 0.401);

				.icon{
					transform: scale(1.1);
					padding-bottom: 10px;
					color:rgb(107, 143, 185);
				}
			}
			&:active{
				.icon{
					transform: scale(0.9);
					padding-bottom: 0px;
					color:rgb(35, 60, 90);
				}
			}
		p{
			font-weight:300;
			font-size:1.5em;
			color:#515151;
			@media screen and (max-width:850px){
				font-size:1em;
			}
		}
		.icon{
			font-size:4em;
			height:1.5em;
			width:2em;
			color:#4377B2;
			opacity:0.46;
			-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			@media screen and (max-width:850px){
				font-size:3em;
				width:1.5em;
				height:1em;
				margin-top:15px;
			}
		}
	}
}






//HomeContent.js
.home-content{
	background-color: #FFF;
	padding:80px;
	display:flex;
	@media screen and (max-width:850px){
		flex-flow:column;
		padding:40px;
	}
	.home-left{
		width:60%;
		@media screen and (max-width:850px){
			width:100%;
		}
		.home-sub{
			font-size:1.5em;
			font-weight:300;

		}
		.home-header{
			font-size:2em;
			font-weight:300;
			line-height: 1.2em;

			.home-title{
				font-family:'Oswald';
				font-weight:500;
			}
		}

	}
	.home-right{
		width:40%;
		padding:20px;
		text-align: center;
		display:flex;
		flex-flow:column;
		align-items:center;
		justify-content: space-around;
		
		@media screen and (max-width:850px){
			width:100%;
			padding:20px 0;
			height:300px;
		}
		iframe{
			max-height:300px;
			height:100%;
			width:100%;
		}
	}
}







//EyeServices.js
.eye-services{
	background: url(./img/contacts.jpg) center center;
	background-size: cover;
	background-color: hsla(0,0%,100%,0.7);
    background-blend-mode: overlay;
	background-repeat: no-repeat;
	display:flex;
	align-items: center;
	flex-flow:column;
	justify-content: space-around;
	a{
		color:initial;
	}
	.our-services{
		margin: 30px;
		font-weight:300;
		font-size:2em;
		letter-spacing: 0.3em;
	}
	.container{
		display:flex;
		flex-flow:row wrap;
		align-content: center;
		justify-content: space-between;
		height:100%;
		width:100%;
		padding:30px;
		@media screen and (max-width: 900px){
			justify-content: space-around;
		}
		.eye-service{
			max-width:420px;
			width:30%;
			transition: 0.4s;
			min-height: 200px;
			margin-bottom:1.5rem;
			background-color:rgba(255,255,255,0.85);
			@media screen and (max-width: 900px){
				width:initial;
			}
			&:hover, &:active{
				box-shadow: 0 5px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.3);
				transform: scale(1.015);
			}
			.service-head{
				font-size:1.5em;
				font-weight: 200;
				text-align: center;
			}
			.service-content{
				text-align: justify;
				font-weight:200;
				font-size:0.8em;
			}
		}
	}
}







//Footer.js

.footer{
	width:100%;
	background-color:#22272B;
	color:#FFFFFF;
	a{
		color:#fff;
	}
	.container{
		display:flex;
		justify-content: space-between;
		@media screen and (max-width:768px){
			flex-direction: column-reverse;
			.footer-left{
				text-align:center;
				.hours{
					align-items:center;
					justify-content: center;
					margin:20px;
				}
			}
			.footer-right{
				text-align: center;
				margin-bottom: 30px;
			}
		}
	}
	.footer-left{
		.footer-title{
			font-family: 'Oswald', sans-serif;
			font-size:1.3em;
		}
		.hours{
			font-size:0.8em;
			line-height: 1.2em;
			display:flex;

			.days{
				margin-right:10px;
			}
		}
		.copyright{
			margin-top:40px;
			font-size:0.7em;
		}
	}
	.footer-right{
		a{
			color:white;
			font-size:0.9em;
		}
		text-align: right;

	}
}



















.content-container{
	.content-image{
		height:150px;
		background: url('./img/tryingglasses.jpg') center 30%;
		background-size:cover;
		background-color: hsla(0,0%,100%,0.3);
		background-blend-mode: overlay;
		background-repeat: no-repeat;
	}
	.content-cont{
		padding:40px;
		.content-title{
			font-size:2.5em;
		}
		.content-html{
			margin-top:15px;
			margin-right:25%;
			font-size:0.9em;
			h2{
				font-weight:600;
				font-size:1.2em;
			}
			ul{
				list-style: initial;
				padding:15px;
				margin:10px;
			}
			p{
				margin-bottom:15px;
			}
			img{
				max-width:400px;
				margin-top:20px;
				margin-bottom:20px;
			}
			@media screen and (max-width:900px){
				line-height: 1.4em;
				text-align: justify;
				margin-right:initial;
				img{
					max-width:100%;;
				}
			}
		}
	}
}

.no-match{
	height:80vh;
	padding:50px;
	display:flex;
	flex-flow:column;
	justify-content: center;
	text-align:center;
	.no-match-head{
		font-size:3em;
	}
	.no-match-content{
		font-size:2em;
	}
}